.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RederScreen{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.BooklistConatiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}